@font-face {
  font-family: 'prox';
  src: url('../fonts/ProximaNova-Medium.eot');
  src: url('../fonts/ProximaNova-Medium.woff2') format('woff2'),
       url('../fonts/ProximaNova-Medium.woff') format('woff'),
       url('../fonts/ProximaNova-Medium.ttf') format('truetype'),
       url('../fonts/ProximaNova-Medium.svg#ProximaNova-Medium') format('svg'),
       url('../fonts/ProximaNova-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prox-l';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
       url('../fonts/ProximaNova-Light.woff') format('woff'),
       url('../fonts/ProximaNova-Light.ttf') format('truetype'),
       url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg'),
       url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prox-b';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prox-b-i';
  src: url('../fonts/ProximaNova-BoldIt.eot');
  src: url('../fonts/ProximaNova-BoldIt.woff2') format('woff2'),
       url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
       url('../fonts/ProximaNova-BoldIt.ttf') format('truetype'),
       url('../fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg'),
       url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prox-c-b';
  src: url('../fonts/ProximaNovaCondBold-webfont.eot');
  src: url('../fonts/ProximaNovaCondBold-webfont.woff2') format('woff2'),
       url('../fonts/ProximaNovaCondBold-webfont.woff') format('woff'),
       url('../fonts/ProximaNovaCondBold-webfont.ttf') format('truetype'),
       url('../fonts/ProximaNovaCondBold-webfont.svg#ProximaNovaCondBold-webfont') format('svg'),
       url('../fonts/ProximaNovaCondBold-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sarcastic';
  src: url('../fonts/Sarcastic-Regular.eot');
  src: url('../fonts/Sarcastic-Regular.woff2') format('woff2'),
       url('../fonts/Sarcastic-Regular.woff') format('woff'),
       url('../fonts/Sarcastic-Regular.ttf') format('truetype'),
       url('../fonts/Sarcastic-Regular.svg#Sarcastic-Regular') format('svg'),
       url('../fonts/Sarcastic-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

