.footer {
  height: 66px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  @include font-b;
  font-size: 18px;
  background-color: $primary;
  @include tablet-lg {
    font-size: 16px;
  }
  @include mobile {
    font-size: 14px;
  }
}