.hero {
  height: 100vh;
  width: 100%;
  @include aws-bg('photos/hero-image.jpg');
  background-size: cover;
  background-position: 50% 15%;
  position: relative;
  &:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    @include trans-black-down;
  }
  h1 {
    color: $white;
    font-size: 120px;
    @include font-c-b;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    line-height: .9;
    z-index: 2;
    span {
      font-size: 150px;
      @include tablet {
        font-size: 70px;
      }
    }
    @include tablet {
      font-size: 60px;
      bottom: 40px;
    }
    .video-cta {
      color: $primary;
      font-size: 30px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 20px 40px;
      margin-top: 10px;
      margin-bottom: 20px;
      background-color: $white;
      border-radius: 8px;
      @include transition;
      &:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 20px;
        background-size: contain;
        background-position: center;
        @include aws-bg('icons/play-g.svg');
        @include transition;
        margin-right: 0px;
      }
      &:hover {
        background-color: $primary;
        color: $white;
        transform: translateY(-2px);
        @include img-shadow;
        &:before {
          @include aws-bg('icons/play-w.svg');
        }
      }
    }
  }
}
.pricing-block {
  background: $primary;
  position: relative;
  @include tablet-lg {
    padding-bottom: 280px !important;
  }
  @include tablet {
    padding-bottom: 340px !important;
  }
  @include mobile {
    padding-bottom: 400px !important;
  }
  img {
    position: absolute;
    left: 7%;
    bottom: 0;
    width: auto;
    height: 100%;
    z-index: 2;
    @include tablet-lg {
      width: 28%;
      height: auto;
    }
    @include tablet {
      width: 40%;
      height: auto;
    }
    @include mobile {
      width: 60%;
      height: auto;
    }
  }
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    @include trans-black-right;
    top: 0;
  }
}
.packing-block {
  @include aws-bg('photos/home-cta-2.jpg');
  background-size: cover;
  background-position: center top;
  padding: 150px 0 !important;
  position: relative;
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    @include white-trans-right;
    top: 0;
  }
}
.youtube-frame {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}