.dogwood-home-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 6;
  @include laptop{
    flex-direction: column;
    height: auto;
    overflow: auto;
  }
  @include mobile {
    height: 100vh;
    overflow: hidden;
  }
  .left-block {
    flex-grow: 1;
    height: 100%;
    @include aws-bg('graphics/dmc_truck_front_cutout.png');
    background-color: $off-white;
    background-size: 70%;
    background-position: center;
    background-position: 40% 90%;
    overflow: hidden;
    background-repeat: no-repeat;
    transition: all 0.5s cubic-bezier(0.85, 0.03, 0.09, 0.99);
    position: relative;
    z-index: 6;
    @include laptop{
      height: 40vh;
      background-size: auto 100%;
      background-position: right;
    }
    .sun {
      width: 210px;
      height: 210px;
      @include aws-bg('graphics/sun.png');
      position: absolute;
      top: 20px;
      right: -80px;
    }
    .dogwood-logo {
      width: 150px;
      height: 90px;
      position: absolute;
      top: 20px;
      left: 20px;
      background-image: image-url('dogwood/dogwoods-logo-primary.png');
      background-size: contain;
    }
    .dogwood-visit-message {
      font-family: 'cooper-m';
      font-size: 18px;
      position: absolute;
      left: 20px;
      top: 120px;
      color: $white;
      opacity: 0;
      transition: .5s ease-in-out;
    }
    .dogwood-gradient {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 300px;
      height: 300px;
      background-image: image-url('dogwood/dogwood-gradient.png');
      background-size: contain;
      background-position: -1px calc(100% + 1px);
      background-repeat: no-repeat;
    }
    .dogwood-content {
      position: absolute;
      width: 80%;
      left: 0;
      right: 0;
      bottom: 32px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      @include laptop{
        width: 60%;
        left: 30px;
        margin: unset;
        overflow: auto;
      }
      .title-col {
        flex-grow: 1;
        @include tablet-lg{
          display: none;
        }
        h2 {
          color: $off-black;
          font-size: 48px;
          margin: 0px;
          padding: 0px;
          padding-right: 30px;
          transition: .5s all ease-in-out;
          @media (max-width: 990px){
            font-size: 30px;
          }
          @media (max-width: 600px){
            font-size: 26px;
          }
          &.top-pad {
            padding-top: 16px;
          }
        }
        .faded-divider {
          height: 3px;
          width: 100%;
          background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(9,9,9,1) 51%, rgba(17,17,17,1) 99%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(9,9,9,1) 51%,rgba(17,17,17,1) 99%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(9,9,9,1) 51%,rgba(17,17,17,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#111111',GradientType=1 ); /* IE6-9 */
          transition: .5s all ease-in-out;
        }
      }
      .details-col {
        border-left: 2px solid;
        transition: .5s all ease-in-out;
        @include laptop{
            font-size: 24px;
            background-color: rgba(255, 255, 255, 0.8);
            padding-right: 8px;
        }
        .details-list {
          list-style: none;
          padding-left: 12px;
          margin-bottom: 0px;
          transition: .5s all ease-in-out;
          li {
            font-size: 26px;
            font-family: 'cooper-m';
            color: $off-black;
            transition: .5s all ease;
            @media (max-width: 990px){
              font-size: 16px;
            }
          }
          &.shrink {
            li {
              font-size: 20px;
            }
          }
        }
      }
    }
    &:hover {
      flex-grow: 1.5;
      background-size: 67% auto;
      @media (min-width: 1600px) {
        background-size: auto 70%;
      }
      background-color: $primary;
      box-shadow: 9px 0px 16px -7px rgba(0,0,0,0.83);
      @include laptop{
        background-size: auto 100%;
      }
      h2, li {
        color: $off-white !important;
        @include laptop{
          color: $off-black;
        }
      }
      .details-col {
        border-color: $off-white;
      }
      .faded-divider {
        background: $off-white !important;
      }
      .dogwood-logo {
        background-image: image-url('dogwood/dogwoods-logo.svg');
      }
      .dogwood-visit-message {
        opacity: 1;
      }
    }
  }
  .right-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.85, 0.03, 0.09, 0.99);
    @include laptop{
      height: 60vh;
    }
    &:hover {
      flex-grow: 1.5;
    }
    .pbyp-cta-block {
      flex-grow: 1;
      transition: all 0.5s cubic-bezier(0.85, 0.03, 0.09, 0.99);
      position: relative;
      display: flex;
      align-items: center;
      flex-basis: 1 auto;
      overflow: hidden;
      @include laptop{
        flex-direction: column;
      }
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-size: auto 110%;
        background-position: 60px 20px;
        background-repeat: no-repeat;
        @media (min-width: 1600px) {
          background-position: 300px 20px !important;
        }
        @media (max-width: 1200px) {
          background-position: right !important;
        }
      }
      &:hover {
        flex-grow: 1.3;
        h2 {
          padding-bottom: 80px;
        }
        h3 {
          opacity: 1;
        }
      }
      h2 {
        color: $off-white;
        position: absolute;
        z-index: 5;
        left: 30px;
        transition: .5s all ease-in-out;
        @media (max-width: 1200px){
          font-size: 30px !important;
        }
        @media (max-width: 600px){
          font-size: 20px !important;
          left: 12px;
        }
      }
      h3 {
        font-size: 18px;
        font-family: 'cooper-m';
        line-height: 1.3;
        text-transform: none;
        max-width: 400px;
        position: absolute;
        left: 30px;
        z-index: 6;
        color: $off-white;
        bottom: 30px;
        opacity: 0;
        transition: .5s all ease-in-out;
        @media (max-width: 600px){
          font-size: 14px !important;
          max-width: 80vw;
          opacity: 1;
          bottom: 12px;
          left: 12px;
          margin-bottom: 0px;
        }
      }
    }
    .cta-1 {
      background-image: image-url('dogwood/pbyp-engine.png');
      background-size: auto 80%;
      background-position: 105% -20px;
      background-repeat: no-repeat;
      background-color: $primary;
      &:before {
        background: -moz-linear-gradient(left, rgba(0,147,229,1) 0%, rgba(0,147,229,1) 30%, rgba(0,147,229,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,147,229,1) 0%,rgba(0,147,229,1) 30%,rgba(0,147,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,147,229,1) 0%,rgba(0,147,229,1) 30%,rgba(0,147,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0093e5', endColorstr='#000093e5',GradientType=1 );
        @media (max-width: 600px){
          background: -moz-linear-gradient(left, rgba(0,147,229,1) 0%, rgba(0,147,229,1) 60%, rgba(0,147,229,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(0,147,229,1) 0%,rgba(0,147,229,1) 60%,rgba(0,147,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(0,147,229,1) 0%,rgba(0,147,229,1) 60%,rgba(0,147,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0093e5', endColorstr='#000093e5',GradientType=1 );
        }
      }
      &:after {
        background-image:image-url('dogwood/dogwood-camaro.png')
      }
      h2 {
        font-size: 48px;
      }
      .engine {
        background-image: image-url('dogwood/pbyp-engine.png')
      }
    }
    .cta-2 {
      background-color: $secondary;
      background-image: image-url('dogwood/pbyp-engine2.png');
      background-size: auto 80%;
      background-position: 105% -20px;
      background-repeat: no-repeat;
      &:before {
        background: -moz-linear-gradient(left, rgba(254,51,21,1) 0%, rgba(254,51,21,1) 30%, rgba(254,51,21,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(254,51,21,1) 0%,rgba(254,51,21,1) 30%,rgba(254,51,21,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(254,51,21,1) 0%,rgba(254,51,21,1) 30%,rgba(254,51,21,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3315', endColorstr='#00fe3315',GradientType=1 );
        @media (max-width: 600px){
          background: -moz-linear-gradient(left, rgba(254,51,21,1) 0%, rgba(254,51,21,1) 60%, rgba(254,51,21,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(254,51,21,1) 0%,rgba(254,51,21,1) 60%,rgba(254,51,21,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(254,51,21,1) 0%,rgba(254,51,21,1) 60%,rgba(254,51,21,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3315', endColorstr='#00fe3315',GradientType=1 );
        }
      }
      &:after {
        background-image:image-url('dogwood/dogwood-mustang.png');
        background-position: 10px 20px;
      }
      h2 {
        font-size: 48px;
      }
    }
    .cta-3 {
      background-color: $off-black;
      background-image: image-url('dogwood/dogwood-daytona.png');
      background-size: auto 100%;
      background-position: right;
      background-repeat: no-repeat;
      &:before {
        background: -moz-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(17,17,17,1) 0%,rgba(17,17,17,1) 50%,rgba(17,17,17,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(17,17,17,1) 0%,rgba(17,17,17,1) 50%,rgba(17,17,17,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        @media (max-width: 600px){
          background: -moz-linear-gradient(left, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 60%, rgba(17,17,17,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(17,17,17,1) 0%,rgba(17,17,17,1) 60%,rgba(17,17,17,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(17,17,17,1) 0%,rgba(17,17,17,1) 60%,rgba(17,17,17,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
      }
      h2 {
        font-size: 48px;
      }
    }
  }
}