.dogwood-home-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 6;
  @include laptop{
    flex-direction: column;
    height: auto;
    overflow: auto;
  }
  @include mobile {
    height: 100vh;
    overflow: hidden;
  }
  .left-block {
    flex-grow: 1;
    height: 100%;
    @include aws-bg('graphics/dmc_truck_front_cutout.png');
    background-color: $creme;
    background-size: 70%;
    background-position: center;
    background-position: 40% 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    @include slide-trans;
    position: relative;
    z-index: 6;
    @include laptop{
      height: 20vh;
      background-image: none;
    }
    .sun {
      width: 210px;
      height: 210px;
      @include aws-bg('graphics/sun.png');
      background-size: contain;
      position: absolute;
      top: 20px;
      right: -80px;
      @include slide-trans;
      opacity: .3;
      @include laptop {
        display: none;
      }
    }
    .dogwood-logo {
      width: 100%;
      height: 42%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @include aws-bg('logos/DMC_SVG.svg');
      background-size: contain;
      background-position: center;
      @include transition;
      @include laptop {
        height: 100%;
        @include aws-bg('logos/dmc-simplified.svg');
        background-size: auto 80%;
      }
      @include tablet {
        width: 50%;
        left: 0;
        background-size: auto 90%;
      }
    }
    .dogwood-visit-message {
      @include font-b;
      font-size: 30px;
      position: absolute;
      left: 20px;
      top: 50%;
      color: $white;
      opacity: 0;
      transition: .5s ease-in-out;
      background-color: $primary;
      border-radius: 100%;
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-overflow: wrap;
      text-align: center;
      @include img-shadow;
    }
    .dogwood-content {
      position: absolute;
      width: 80%;
      left: 0;
      right: 0;
      bottom: 32px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      @include laptop{
        width: 60%;
        left: 30px;
        margin: unset;
        overflow: auto;
      }
      .title-col {
        flex-grow: 1;
        @include tablet-lg{
          display: none;
        }
        h2 {
          color: $off-black;
          font-size: 48px;
          margin: 0px;
          padding: 0px;
          padding-right: 30px;
          transition: .5s all ease-in-out;
          @media (max-width: 990px){
            font-size: 30px;
          }
          @media (max-width: 600px){
            font-size: 26px;
          }
          &.top-pad {
            padding-top: 16px;
          }
        }
        .faded-divider {
          height: 3px;
          width: 100%;
          background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(9,9,9,1) 51%, rgba(17,17,17,1) 99%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(9,9,9,1) 51%,rgba(17,17,17,1) 99%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(9,9,9,1) 51%,rgba(17,17,17,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#111111',GradientType=1 ); /* IE6-9 */
          transition: .5s all ease-in-out;
        }
      }
      .details-col {
        border-left: 2px solid;
        transition: .5s all ease-in-out;
        @include laptop{
            font-size: 24px;
            background-color: rgba(255, 255, 255, 0.8);
            padding-right: 8px;
        }
        .details-list {
          list-style: none;
          padding-left: 12px;
          margin-bottom: 0px;
          transition: .5s all ease-in-out;
          li {
            font-size: 26px;
            font-family: 'cooper-m';
            color: $off-black;
            transition: .5s all ease;
            @media (max-width: 990px){
              font-size: 16px;
            }
          }
          &.shrink {
            li {
              font-size: 20px;
            }
          }
        }
      }
    }
    &:hover {
      flex-grow: 1.5;
      background-size: 67% auto;
      background-position: 40% 110%;
      @media (min-width: 1600px) {
        background-size: auto 70%;
      }
      box-shadow: 9px 0px 16px -7px rgba(0,0,0,0.83);
      @include laptop{
        background-size: auto 100%;
      }
      h2, li {
        color: $creme !important;
        @include laptop{
          color: $off-black;
        }
      }
      .details-col {
        border-color: $creme;
      }
      .sun {
        top: 0px;
        right: 120px;
        opacity: .6;
      }
      .faded-divider {
        background: $creme !important;
      }
      .dogwood-visit-message {
        opacity: 1;
        -webkit-animation: shake-vertical 4s ease infinite both;
        animation: shake-vertical 4s ease infinite both;
        @include laptop {
          display: none;
          opacity: 0;
          animation: none;
        }
      }
    }
  }
  .right-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    @include slide-trans;
    @include laptop{
      height: 80vh;
      justify-content: center
      ;
    }
    &:hover {
      flex-grow: 1.5;
    }
    .dogwood-cta-block {
      flex-grow: 1;
      @include slide-trans;
      position: relative;
      display: flex;
      align-items: center;
      flex-basis: 1 auto;
      overflow: hidden;
      background-size: 100px;
      background-position: 90% 50%;
      &.double {
        flex-direction: row;
        flex-wrap: nowrap;
      }
      &.half-cta {
        width: 100%;
        height: 100%;
        h2, h3 {
          color: $off-black;
        }
        h3 {
          opacity: 0 !important;
        }
        &:hover {
          h3 {
            opacity: 1 !important;
          }
        }
      }
      &:hover {
        flex-grow: 1.3;
        h2 {
          padding-bottom: 40px;
          font-size: 30px;
          &.half-h2 {
            font-size: 30px;
          }
        }
        h3 {
          opacity: 1;
        }
        &:after {
          right: 180px;
          opacity: 1;
        }
      }
      @include laptop{
        flex-direction: column;
        justify-content: center;
        background-size: 70px;
        &:hover {
          h2 {
            padding-bottom: 0px;
          }
          flex-grow: 1;
        }
      }
      @include tablet-lg{
        background-size: 60px;
      }
      @include mobile{
        background-size: 50px;
      }
      h2 {
        color: $white;
        position: absolute;
        z-index: 5;
        left: 30px;
        padding-bottom: 0px;
        @include font-b;
        @include slide-trans;
        font-size: 30px;
        @media (max-width: 1200px){
          font-size: 30px !important;
        }
        @media (max-width: 600px){
          font-size: 20px !important;
          left: 12px;
        }
      }
      h3 {
        font-size: 18px;
        @include font;
        @include slide-trans;
        line-height: 1.3;
        text-transform: none;
        max-width: 400px;
        position: absolute;
        left: 30px;
        z-index: 6;
        color: $white;
        bottom: 30px;
        opacity: 0;
        @include laptop{
          display: none;
          padding: 0;
          margin: 0;
        }
      }
    }
    .cta-1 {
      @include aws-bg('icons/dogwood-schedule-icon.svg');
      background-color: $primary-l2;
    }
    .cta-2 {
      background-color: $primary-l;
      @include aws-bg('icons/dogwood-boxes.svg');
    }
    .cta-3 {
      background-color: $primary;
      @include aws-bg('icons/dogwood-faq-icon.svg');
    }
    .cta-4 {
      background-color: $off-black;
      @include aws-bg('icons/dogwood-t.svg');
    }
    .cta-5 {
      background-color: $grey;
      @include aws-bg('logos/dogwood-bud.svg');
      &:hover {
        width: 130%;
        h2 {
          font-size: 36px;
        }
      }
    }
    .cta-6 {
      background-color: $white;
      @include aws-bg('icons/dogwood-phone.svg');
      &:hover {
        width: 110%;
        h2 {
          font-size: 36px;
        }
      }
    }
  }
}
#home-book-btn {
  position: absolute;
  left: 40px;
  bottom: 40px;
  background-color: $primary-l;
  font-size: 18px;
  &:hover {
    background-color: $primary;
  }
  @include tablet {
    top: 56px;
    right: 5%;
    left: unset;
    bottom: unset;
  }
}
#home-phone-btn {
  display: block;
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 50px;
  border-radius: 8px;
  width: 200px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-b;
  font-size: 18px;
  @include transition;
  cursor: pointer;
  border: 2px solid $primary;
  color: $primary;
  z-index: 7;
  &:hover {
    transform: translateY(-8px);
    background-color: $primary;
    color: $white;
    @include shadow-tight;
  }
  @include tablet {
    top: 4px;
    right: 5%;
  }
}