//fonts
@mixin font {
  font-family: 'prox';
};
@mixin font-l {
  font-family: 'prox-l';
};
@mixin font-b {
  font-family: 'prox-b';
};
@mixin font-b-i {
  font-family: 'prox-b-i';
};
@mixin font-c-b {
  font-family: 'prox-c-b';
};
@mixin h-font {
  font-family: 'sarcastic';
}

//transitions
@mixin transition {
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
}
@mixin transition-s {
  transition: .6s all ease-in-out;
  -webkit-transition: .6s all ease-in-out;
  -moz-transition: .6s all ease-in-out;
}
@mixin trans-m {
  transition: all 0.3s cubic-bezier(0.85, 0.03, 0.09, 0.99);
  -webkit-transition: all 0.3s cubic-bezier(0.85, 0.03, 0.09, 0.99);
  -moz-transition: all 0.3s cubic-bezier(0.85, 0.03, 0.09, 0.99);
}
@mixin slide-trans {
  transition: all 0.6s cubic-bezier(0.85, 0.03, 0.09, 0.99);
  -webkit-transition: all 0.6s cubic-bezier(0.85, 0.03, 0.09, 0.99);
  -moz-transition: all 0.6s cubic-bezier(0.85, 0.03, 0.09, 0.99);
}

//gradients

//shadows
@mixin img-shadow {
  box-shadow: 0 30px 19px -15px rgba(0,0,0,0.50);
}
@mixin shadow-tight {
  box-shadow: 0 22px 19px -15px rgba(0,0,0,0.50);
}
@mixin no-shadow {
  box-shadow: 0 30px 19px -15px rgba(0,0,0,0.0);
}

//mobile
@mixin desktop {
  @media (max-width: 1440px) {
    @content
  }
};
@mixin laptop {
  @media (max-width: 1024px) {
    @content
  }
};
@mixin tablet-lg {
  @media (max-width: 991px) {
    @content
  }
};
@mixin tablet {
  @media (max-width: 768px) {
    @content
  }
};
@mixin mobile {
  @media (max-width: 600px) {
    @content
  }
};

//qol
@mixin aws-bg($img) {
  background-image: url("https://dogwood-moving.s3.us-east-2.amazonaws.com/" + $img);
  background-repeat: no-repeat;
}

//gradients
@mixin trans-black-down {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 46%, rgba(0,0,0,0.62) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0) 46%,rgba(0,0,0,0.62) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,0) 46%,rgba(0,0,0,0.62) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#9e000000',GradientType=0 );
}
@mixin trans-black-right {
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 46%, rgba(0,0,0,0.62) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 25%,rgba(0,0,0,0) 46%,rgba(0,0,0,0.62) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 25%,rgba(0,0,0,0) 46%,rgba(0,0,0,0.62) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#9e000000',GradientType=0 );
}
@mixin white-trans-right {
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0.88) 50%, rgba(255,255,255,0.00) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.88) 50%, rgba(255,255,255,0.00) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0.88) 50%, rgba(255,255,255,0.00) 100%);
}

//animation
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(10);
            transform: translateY(10);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(10);
            transform: translateY(10);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}