//fonts
@mixin font {
  font-family: 'prox';
};
@mixin font-l {
  font-family: 'prox-l';
};
@mixin font-b {
  font-family: 'prox-b';
};
@mixin font-c-b {
  font-family: 'prox-c-b';
};
@mixin h-font {
  font-family: 'sarcastic';
}

//transitions
@mixin transition {
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
}

//gradients

//shadows
@mixin img-shadow {
  box-shadow: 0 30px 19px -15px rgba(0,0,0,0.50);
}

//mobile
@mixin desktop {
  @media (max-width: 1440px) {
    @content
  }
};
@mixin laptop {
  @media (max-width: 1024px) {
    @content
  }
};
@mixin tablet-lg {
  @media (max-width: 991px) {
    @content
  }
};
@mixin tablet {
  @media (max-width: 768px) {
    @content
  }
};
@mixin mobile {
  @media (max-width: 600px) {
    @content
  }
};