#contact-modal, #apply-modal, #youtube-modal, #booking-modal, #estimate-modal {
  width: 450px;
  max-height: calc(100% - 120px);
  margin: 0 auto;
  padding: 0px !important;
  background-color: $off-white;
  height:fit-content;
  margin-top: 60px;
  border-radius: 4px;
  @include img-shadow;
  @include tablet-lg {
    margin-top: 20px;
    width: 80%;
    max-height: calc(100% - 40px);
  }
  @include mobile {
    width: 100%;
    margin-top: 0px;
    max-height: 100%;
  }
  .modal-dialog {
    pointer-events: unset;
    padding: 60px 30px !important;
  }
  .modal-content-container {
    width: 100%;
  }
  .modal-body {
    width: 100%;
  }
  .close {
    width: 36px;
    height: 36px;
    @include bg-img ('close-w.svg');
    background-color: $primary-l;
    background-position: center;
    background-size: contain;
    @include transition;
    position: fixed;
    z-index: 500;
    &:hover {
      background-color: $primary;
    }
    @include tablet-lg {
      background-color: $primary;
    }
  }
}

#youtube-modal {
  width: 80%;
  margin-top: 20px;
  max-height: unset;
  .modal-dialog {
    pointer-events: unset;
    padding: 10px!important;
    max-width: unset;
  }
  .modal-body {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @include tablet-lg {
    width: 90%;
    margin-top: 60px;
  }
  @include mobile {
    width: 98%;
    margin-top: 0px;
  }
}

#booking-modal, #estimate-modal {
  width: 80%;
  margin-top: 20px;
  max-height: calc(100% - 40px);
  .modal-dialog {
    pointer-events: unset;
    padding: 10px!important;
    max-width: unset;
  }
  .tips-heading {
    text-align: center;
  }
  h2 {
    color: $primary;
  }
  h4 {
    text-align: center;
  }
  .col-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 40px;
    justify-content: space-between;
    .col-left {
      width: 78%;
      border: 2px solid $primary-l;
      border-radius: 6px;
      padding: 12px;
    }
    .col-right {
      width: 20%;
      border: 2px solid $primary-l;
      border-radius: 6px;
      padding: 12px;
    }
    @include tablet-lg {
      flex-wrap: nowrap;
      flex-direction: column;
      .col-right, .col-left {
        width: 100%;
      }
    }
  }
  .booking-nav-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 16px;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    a {
      display: inline-block;
      margin-bottom: 12px;
    }
  }
  @include tablet-lg {
    width: 90%;
    margin-top: 10px;
    max-height: calc(100% - 20px);
  }
  @include mobile {
    width: 98%;
    margin-top: 0px;
    max-height: 100%;
  }
}