.navbar-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  height: 130px;
  left: 0;
  right: 0;
  background-color: $off-white;
  @include slide-trans;
  &.compress-nav {
    top: -130px;
  }
}
.navbar-container {
  height: 130px;
  width: 96%;
  margin: 0 auto;
}
.under-row {
  position: relative;
  height: 30px;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .nav-book-btn,
  .nav-phone-btn {
    background-color: $primary;
    color: $off-white;
    padding: 6px 12px;
    border-radius: 3px;
    margin: 6px;
  }
}
.bottom-row {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a.nav-link {
    color: $primary;
    @include font-b;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      color: $primary-l;
    }
  }
  .nav-logo {
    width: 180px;
    height: 100%;
    @include aws-bg('logos/dogwood-moving.svg');
    background-size: contain;
    background-position: center;
    position: relative;
  }
}