.navbar-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: $off-white;
  @include slide-trans;
  overflow: visible;
  @include img-shadow;
  &.compress-nav {
    top: -120px;
    .under-row {
      opacity: 0;
      top: -50px;
    }
  }
}
.navbar-container {
  width: 96%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.under-row {
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  background-color: $white;
  border-radius: 0 0 20px 20px;
  padding: 0px 10px 10px 10px;
  @include slide-trans;
  transition-delay: .3s;
  top: 0;
  z-index: 4;
  @include img-shadow;
  &.pricing_index {
    margin: 0 0 0 70%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &.packing_index {
    margin: 0 0 0 70%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &.faq_index {
    margin: 0 0 0 70%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &.team_index {
    margin: 0 0 0 70%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &.about_index {
    margin: 0 0 0 70%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &.contact_index {
    margin: 0 0 0 70%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .nav-msg-btn,
  .nav-book-btn,
  .nav-phone-btn {
    background-color: $primary;
    color: $off-white;
    padding: 6px 12px;
    border-radius: 3px;
    margin: 6px;
    &:hover {
      color: $off-white;
      background-color: $primary-l;
    }
  }
}
.bottom-row {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  a.nav-link {
    color: $primary;
    @include font-b;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      color: $primary-l;
    }
  }
  .nav-logo {
    width: 180px;
    height: 70%;
    @include aws-bg('logos/dogwood-moving.svg');
    background-size: contain;
    background-position: center;
    position: relative;
  }
}