.packing-wrap {
  @include aws-bg('photos/packing-page-2.jpg');
  background-size: cover;
  background-position: center bottom;
  padding: 150px 0 !important;
  position: relative;
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    @include white-trans-right;
    top: 0;
    @include tablet-lg {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  @include tablet {
    padding: 40px 0 !important;
    background-size: 100% auto;
    background-position: center top;
  }
}

