//pricing
.rates-wrap {
  width: 100%;
  padding: 100px 0;
  background-color: $off-black;
  .rates-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94% !important;
    max-width: unset;
    padding: 60px;
    .rate-card {
      width: 30%;
      height: 540px;
      border-radius: 16px;
      overflow: hidden;
      @include img-shadow;
      @include transition;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      .header {
        height: 78px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $off-white;
        @include font-b;
        font-size: 34px;
        background-color: $primary;
      }
      .card-content {
        height: 462px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .top {
          padding: 20px;
          line-height: 1;
          p {
            text-align: center;
            font-size: 26px;
            margin: 0;
            &.light {
              @include font-l;
            }
            &.bold {
              @include font-b;
            }
          }
        }
        .icon {
          height: 166px;
          width: 80%;
          background-size: contain;
          background-position: center;
          &.two-man {
            @include aws-bg('icons/2-mover.svg');
          }
          &.three-man {
            @include aws-bg('icons/3-mover.svg');
          }
          &.four-man {
            @include aws-bg('icons/4-mover.png');
          }
        }
        p.info {
          font-size: 16px;
          line-height: 18px;
          width: 80%;
          margin-top: 20px;
        }
      }
    }
  }
}

.additional-info-wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  h2 {
    margin-bottom: 30px;
  }
  .left-col {
    padding: 40px 7%;
    width: 50%;
    .list-item {
      font-size: 20px;
      color: $off-black;
      @include font-l;
      span {
        @include font-b;
        color: $primary;
      }
    }
  }
  .right-col {
    padding: 40px 7%;
    background-color: $light-grey;
    width: 50%;
    padding-bottom: 300px;
    p {
      font-size: 20px;
      color: $off-black;
    }
  }
  .faq-block {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    padding-bottom: 40px;
    h2 {
      @include font-b;
      margin-bottom: 0;
    }
    p {
      @include font-b;
    }
  }
}
