@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'navbar';
@import 'menu';
@import 'home';

//general
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #000;
  font-family: "prox", "Helvetica", sans-serif;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

//containers
.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  &.nav-pad {
    padding-top: 100px;
  }
}
.container {
  width: 86%;
  height: auto;
  overflow: auto;
  margin: 0 auto;
}

//buttons
.dogwood-btn {
  @include font-b;
  color: $white;
  background-color: $primary;
  border-radius: 3px;
  @include no-shadow;
  cursor: pointer;
  padding: 10px 40px;
  @include transition;
  display: block;
  &:hover {
    @include img-shadow;
    transform: translateY(-6px);
    background-color: $primary-l;
  }
}
.dogwood-text-btn {
  @include font-b;
  color: $primary;
  display: block;
  cursor: pointer;
  @include transition;
}
.dogwood-btn-outline {
  position: relative;
  height: 50px;
  border-radius: 8px;
  width: 250px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-b;
  font-size: 18px;
  &.green {
    border: 2px solid $primary;
    color: $primary;
  }
  &.white {
    border: 2px solid $white;
    color: $white;
  }
  &.center {
    margin: 0 auto;
  }
}

//content blocks
.info-block {
  padding: 100px 0;
  .col-container {
    overflow: auto;
  }
  .left-col {
    float: left;
    padding-right: 2%;
    width: 50%;
  }
  .right-col {
    float: left;
    padding-left: 2%;
    width: 50%;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    @include img-shadow;
  }
}
.cta-row {
  width: 100%;
  margin: 40px 0;

}

//text
a {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
p {
  font-size: 18px;
  line-height: 24px;
}
h1 {
  @include font;
}
h2 {
  @include font;
  &.bot-marg {
    margin-bottom: 30px;
  }
}
span.l {
  font-family: 'prox-l' !important;
}
span.b-i {
  font-family: 'prox-b-i' !important;
}

//colors
.off-black {
  color: $off-black;
}
.off-white {
  color: $off-white;
}