@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'menu';
@import 'home';
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #000;
  font-family: "prox", "Helvetica", sans-serif;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
a {
  color: rgba(#000, 0.7);
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}
.wrap {
  width: 100%;
  height: auto;
  overflow: auto;
}
.container {
  width: 86%;
  height: auto;
  overflow: auto;
  margin: 0 auto;
}
.dogwood-btn {
  @include font-b;
  color: $white;
  background-color: $primary;
  border-radius: 3px;
  @include no-shadow;
  cursor: pointer;
  padding: 10px 40px;
  @include transition;
  display: block;
  &:hover {
    @include img-shadow;
    transform: translateY(-6px);
    background-color: $primary-l;
  }
}
.dogwood-text-btn {
  @include font-b;
  color: $primary;
  display: block;
  cursor: pointer;
  @include transition;
}