@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'navbar';
@import 'menu';
@import 'home';
@import 'footer';
@import 'modal';
@import 'forms';
@import 'pricing';
@import 'packing';
@import 'faq';
@import 'about_contact';
@import 'preparation';

//scroll entry
[data-entrance] { visibility: hidden; }
.js [data-entrance] { visibility: hidden; }

//general
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #000;
  font-family: "prox", "Helvetica", sans-serif;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  &.fixed-body {
    overflow: hidden;
  }
}

//containers
.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  &.nav-pad {
    padding-top: 80px;
    @include mobile {
      padding-top: 100px;
    }
  }
}
.container {
  width: 86%;
  height: auto;
  overflow: auto;
  margin: 0 auto;
  position: relative;
  padding: 0;
  @include tablet-lg {
    width: 92%;
  }
  @include mobile {
    width: 94%;
  }
  &.hide-overflow {
    overflow: hidden;
  }
}

//buttons
.dogwood-btn {
  @include font-b;
  color: $white;
  background-color: $primary;
  border-radius: 3px;
  @include no-shadow;
  cursor: pointer;
  padding: 10px 40px;
  @include transition;
  display: block;
  cursor: pointer;
  &:hover {
    @include img-shadow;
    transform: translateY(-6px);
    background-color: $primary-l;
  }
  &.center {
    margin: 0 auto;
  }
}
.dogwood-text-btn {
  @include font-b;
  color: $primary;
  display: block;
  cursor: pointer;
  @include transition;
  cursor: pointer;
  &:hover {
    color: $primary-l;
  }
  &.underline {
    border-bottom: 2px solid $primary;
    &:hover {
      border-bottom: 2px solid $primary-l;
    }
  }
}
.dogwood-btn-outline {
  position: relative;
  height: 50px;
  border-radius: 8px;
  width: 250px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-b;
  font-size: 18px;
  @include transition;
  cursor: pointer;
  &.green {
    border: 2px solid $primary;
    color: $primary;
    &:hover {
      transform: translateY(-8px);
      background-color: $primary;
      color: $white;
      @include shadow-tight;
    }
  }
  &.white {
    border: 2px solid $white;
    color: $white;
    &:hover {
      transform: translateY(-8px);
      background-color: $white;
      color: $primary;
      @include shadow-tight;
    }
  }
  &.center {
    margin: 0 auto;
  }
  @include tablet-lg {
    margin: 0 auto;
  }
}
.phone-btn {
  &.green, &#home-phone-btn {
    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      @include aws-bg('icons/phone-g.svg');
      background-size: contain;
      background-position: center;
      margin-right: 8px;
      @include slide-trans;
    }
    &:hover {
      &:before {
        @include aws-bg('icons/phone-w.svg');
        transform: rotate(30deg);
      }
    }
  }
  &.white {
    &:before {
      display: inline-block;
      content: '';
      width: 16px;
      height: 16px;
      @include aws-bg('icons/close.svg');
      background-size: contain;
      background-position: center;
      margin-right: 8px;
    }
    &:hover {
      &:before {
        @include aws-bg('icons/phone-g.svg');
        transform: rotate(30deg);
      }
    }
  }
}
//layout
.info-block {
  padding: 100px 0;
  .col-container {
    overflow: auto;
    display: flex;
    &.img-left {
      @include tablet-lg {
        flex-direction: column-reverse;
      }
    }
    &.img-right {
      @include tablet-lg {
        flex-direction: column;
      }
    }
    &.hide-overflow {
      overflow: hidden;
    }
  }
  .left-col {
    float: left;
    padding-right: 2%;
    width: 50%;
    @include tablet-lg {
      width: 100%;
      padding: 0;
      float: none;
    }
  }
  .right-col {
    float: left;
    padding-left: 2%;
    width: 50%;
    @include tablet-lg {
      width: 100%;
      padding: 0;
      float: none;
    }
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    @include img-shadow;
    margin-bottom: 40px;
  }
  @include mobile {
    padding: 40px 0;
  }
}
.cta-block-wrap {
  padding: 100px 0px;
  .cta-block-container {
    display: flex;
    justify-content: space-between;
    &.flex-end {
      justify-content: flex-end;
    }
    &.flex-start {
      justify-content: flex-start;
    }
  }
  .content-col {
    width: 60%;
    @include tablet-lg {
      width: 100%;
    }
  }
  @include mobile {
    padding: 60px 0;
  }
}
.cta-row {
  width: 100%;
  margin-top: 40px;
  &.margin-bot {
    margin-bottom: 40px;
  }
}
.top-layer {
  z-index: 2;
}

//text
h1.page-banner {
  padding: 0;
  width: 100%;
  text-align: center;
  vertical-align: center;
  margin: 0;
  @include h-font;
  font-size: 120px;
  color: $white;
  position: relative;
  @include primary-down;
  padding-top: 60px;
  // @include aws-bg('graphics/box-bg.svg');
  background-repeat: repeat;
  @include tablet {
    font-size: 80px;
  }
  &:before {
    content:'';
    height: calc(100% - 60px);
    width: 70px;
    @include aws-bg ('logos/dogwood-bullet-w.svg');
    background-size: contain;
    background-position: center;
    position: absolute;
    display: block;
    left: 7%;
    bottom: 0;
    @include tablet {
      width: 30px;
    }
  };
  &:after {
    content:'';
    height: calc(100% - 70px);
    width: 70px;
    @include aws-bg ('logos/dogwood-bullet-w.svg');
    background-size: contain;
    background-position: center;
    position: absolute;
    display: block;
    bottom:0;
    right: 7%;
    transform: rotate(180deg);
    @include tablet {
      width: 30px;
    }
  }
}
a {
  color: $primary;
  @include transition;
  @include font-b;
  &:focus,
  &:hover {
    text-decoration: none;
    color: $primary-l;
  }
}
p {
  font-size: 18px;
  line-height: 24px;
  @include mobile {
    font-size: 16px;
    line-height: 1.6;
  }
}
h1 {
  @include font;
}
h2 {
  @include font;
  &.bot-marg {
    margin-bottom: 30px;
  }
  &.center {
    text-align: center;
  }
  @include tablet-lg {
    font-size: 26px;
  }
}
span.l {
  font-family: 'prox-l' !important;
}
span.b {
  font-family: 'prox-b' !important;
}
span.b-i {
  font-family: 'prox-b-i' !important;
}

//colors
.off-black {
  color: $off-black;
}
.off-white {
  color: $off-white;
}
.white {
  color: $white;
}
