.modal.fade#apply-modal{tabindex:"-1", role:"dialog"}
  %button.close#modal-close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
  .modal-dialog.modal-dialog-centered{role:"document"}
    .modal-content-container
      .modal-body
        %form.contact-form#application{:action => "https://formspree.io/mwkpdebo", :method => "POST"}
          .success-message
            Thanks for Reaching Out!
            %span
              We'll get back to your shortly.
          %legend
            Apply Now
          .form-group
            %input.form-control{:name => "full_name", :type => "text", :placeholder => "Full Name"}
            %label
              Full Name
          .form-group
            %input.form-control{:name => "phone", :type => "tel", :placeholder => "Phone"}
            %label
              Phone
          .form-group
            %input.form-control{:name => "_replyto", :type => "email", :placeholder => "Email"}
            %label
              Email
          .form-group
            %input.form-control{:name => "dob", :type => "date", :placeholder => "Date of Birth"}
            %label
              Date of Birth
          .form-group
            %input.form-control{:name => "education", :type => "text", :placeholder => "Highest level of Education"}
            %label
              Highest Level of Education
          .form-group
            %textarea.form-control{:name => "criminal", :type => "text", :placeholder => "Any Criminal History? if YES, please explain."}
            %label
              Criminal History
          .form-group
            %input.form-control{:name => "start", :type => "date", :placeholder => "Available Start Date"}
            %label
              Available Start Date
          .form-group
            %textarea.form-control{:name => "message", :placeholder => "Message"}
            %label
              Additional Info
          %input{type:"text", name:"_gotcha", style:"display:none"}
          %input{type:"hidden", name:"_subject", style:"display:none", value:'New Team Application Submission'}
          %button.dogwood-btn.green.center{:type => "submit", class:'submit'} Send
