.modal.fade#contact-modal{tabindex:"-1", role:"dialog"}
  %button.close#modal-close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
  .modal-dialog.modal-dialog-centered{role:"document"}
    .modal-content-container
      .modal-body
        %form.contact-form#general-contact{:action => "https://formspree.io/mzbzwgyv", :method => "POST"}
          .success-message
            Thanks for Reaching Out.
            %span
              We'll get back to your shortly.
          %legend
            Contact Us
          .form-group
            %input.form-control#contact-name{:name => "full_name", :type => "text", :placeholder => "Full Name"}
            %label
              Full Name
          .form-group  
            %input.form-control{:name => "_replyto", :type => "email", :placeholder => "Email"}
            %label
              Email
          .form-group
            %textarea.form-control{:name => "message", :placeholder => "Message"}
            %label
              Message
          %input#contact-subject{type:"hidden", name:"_subject", style:"display:none", value:'New Contact Form Submission'}
          %input{type:"text", name:"_gotcha", style:"display:none"}
          %button.dogwood-btn.green.center{:type => "submit", class:'submit'} Send
