- @description = "We are a locally owned Residential and Commercial moving company based out of Raleigh, NC. We promise to provide excellent customer service by getting the job done safely and efficiently."
- @keywords = 'Dogwood Promise, Quality guaranteed, About Dogwood Moving, About Us'
- @page_title = 'About Us | Residential and Commercial Movers | Dogwood Moving Co.'
- @canonical = 'https://www.dogwoodmoving.com/about/'

.wrap.nav-pad
  %h1.page-banner
    About
  .info-block.container.about-container
    .col-container.img-right.hide-overflow
      .left-col{'data-entrance'=>'from-left'}
        %h2.off-black
          %span.b
            Page Not Found
        %p.off-black.bot-marg
          The page you are looking for could not be found. 
          %br
          =link_to 'Return Home', '/'
      .right-col{'data-entrance'=>'from-right'}
        =aws_img('logos/DMC_SVG.svg')