- @description = "Page not found."
- @keywords = ''
- @page_title = 'Page Not Found | Residential and Commercial Movers | Dogwood Moving Co.'
- @canonical = 'https://www.dogwoodmoving.com/404/'

.wrap.nav-pad
  %h1.page-banner
    Page Not Found
  .info-block.container.about-container
    .col-container.img-right.hide-overflow
      .left-col{'data-entrance'=>'from-left'}
        %h2.off-black
          %span.b
            Page Not Found
        %p.off-black.bot-marg
          The page you are looking for could not be found. 
          %br
          =link_to 'Return Home', '/'
      .right-col{'data-entrance'=>'from-right'}
        =aws_img('logos/DMC_SVG.svg')