- @description = "Book Now or contact us via phone or message"
- @keywords = 'Booking, Book Move, Contact Us, Call Us, Phone, Email'
- @page_title = 'Contact | '

.wrap.nav-pad
  %h1.page-banner
    Contact
  .info-block.container.contact-container
    .col-container.img-left.hide-overflow
      .left-col{'data-entrance'=>'from-left'}
        =aws_img('photos/packing-info-1.jpg')
      .right-col{'data-entrance'=>'from-right'}
        %h2.off-black
          %span.b
            Phone
        %p.off-black
          =link_to dogwood_phone, "tel:#{dogwood_phone}"
        %h2.off-black
          %span.b
            Email
        %p.off-black
          =link_to dogwood_email, "tel:#{dogwood_email}"
        .button-row
          .dogwood-btn-outline.green.left{'data-toggle'=>"modal",'data-target'=>"#contact-modal"}
            Message
        .button-row
          .dogwood-btn-outline.green.left
            Book Now