- @description = "Book Now or contact us via phone or message"
- @keywords = 'Booking, Book Move, Contact Us, Call Us, Phone, Email'
- @page_title = 'Contact'

.wrap.nav-pad
  %h1.page-banner
    Contact
  .info-block.container
    .col-container
      .left-col
        =aws_img('photos/packing-info-1.jpg')
      .right-col
        %h2.bot-marg.off-black
          %span.b
            Overview
        %p.off-black
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum