- @description = "Learn everything you need to know before your next move with Dogwood"
- @keywords = 'Frequently Asked Questions, Questions, Moving Research, Moving Expertise'
- @page_title = 'Faq'

.wrap.nav-pad
  %h1.page-banner
    Faq
  .info-block.container
    .faq-container
      -data.faq.each do |section|
        %h2{id:(section[0])[0,4]}=section[0]
        -section[1].each_with_index do |question|
          %p.question
            = question.question.html_safe
          %p.answer
            = question.answer.html_safe

