.dogwood-home-wrap
  %a.left-block.half-block{:href=>'/home'}
    .dogwood-logo
    .dogwood-visit-message
      Continue to Site
    .dogwood-gradient
    .dogwood-garage-content
      .title-col
        %h2
          dogwood's
        .faded-divider
        %h2.top-pad
          Garage
      .details-col
        %ul.details-list
          %li
            Custom Vehicles
          %li
            Performance Builds
          %li
            Performance Upgrades
          %li
            Parts & More
  .right-block.half-block
    %a.pbyp-cta-block.cta-1{:href=>'https://dogwoods-garage.myshopify.com/'}
      %h2
        Do it Yourself
      %h3
        Order #PowerBydogwood Original Products and install them on your own! We've got all your power and engine needs.
    %a.pbyp-cta-block.cta-2{:href=>'/performance-build'}
      %h2
        Professional
        %br
        Installation
      %h3
        Your car is shipped to us for a professional installation of your newly upgraded #PowerBydogwood Products.
    %a.pbyp-cta-block.cta-3{:href=>'https://poweredby.dogwoods-garage.com/contest'}
      %h2
        &#35;Powerbypetty
      %h3
        Win a once-in-a-lifetime chance to watch alongside Richard Petty in Daytona Beach!
