- @description = "We are an experienced moving company that will handle your move with care. We are dedicated to quality, hard work, and excellent customer service, the pillars of our company."
- @keywords = 'Pricing, Packing, FAQ, Join the Team, Contact Dogwood, About, Dogwood Moving Company, Dogwood Moving NC'
- @page_title = 'Dogwood Moving Co. | Local and Long-Distance Moving | Raleigh NC | USA'
- @canonical = 'https://www.dogwoodmoving.com/'

.wrap
  .hero
    %h1.hero-text{"data-entrance"=>"from-bottom"}
      Locally
      %br
      Owned and
      %br
      Operated
      %br
      .horizontal-line
      %span
        Licensed and 
        %br
        Insured
    .video-cta{'data-toggle'=>'modal','data-target'=>'#youtube-modal'}
      Watch Video
  .info-block.container
    .col-container.img-left.hide-overflow
      .left-col{"data-entrance"=>"from-left"}
        .youtube-frame
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/FgxTBTX-J-k", :width => "560"}
      .right-col{"data-entrance"=>"from-right"}
        %h2.bot-marg.off-black
          %span.l
            Your
          Full Service
          %br
          %span.b-i
            Moving Professionals
        %p.off-black
          Dogwood Moving is an experienced local and long-distance moving company that will handle your move with care. 
          All of our movers are clean-cut, athletic and well-trained movers who will work hard to make your move stress-free. 
          We are dedicated to quality, hard work, and excellent customer service. 
          These three pillars are the foundation of our company, and we prove that with each and every move we complete.
        %p.off-black
          Fully licensed and insured, our professionally trained team will treat your belongings like their own 
          – safely and efficiently packing and moving them to your new destination. Dogwood Moving is proudly servicing Raleigh, 
          NC and surrounding areas. Call us at today at 919-656-1426 to get your free estimate!
    .cta-row
      =link_to 'Learn More', '/pricing', class:'dogwood-btn-outline green center'
  .cta-block-wrap.pricing-block
    =aws_img('photos/home-cta-1.png')
    .container.cta-block-container.flex-end.top-layer.hide-overflow
      .content-col{"data-entrance"=>"from-right"}
        %h2.bot-marg.white
          %span.l
            Passing Along the
          Savings
          %span.b-i
            To You
        %p.white
          Don’t let the price of other movers keep you from getting the help you need. We are a locally owned and operated business, managed by experts who understand the ins and outs of the moving industry. Without the franchise fees, we are able to pass along the savings to our customers as well as recruit and retain the very best in the business for our team.
          %br
          %br
          Our savings can be seen in our low, flat, hourly rates. We will never nickel-and-dime our customers – no hidden, surprise fees or rounding up the clock to make you pay more.
        .cta-row.margin-bot
          =link_to 'View Pricing', '/pricing', class:'dogwood-btn-outline white left'
  .info-block.container
    .col-container.img-left.hide-overflow
      .left-col{"data-entrance"=>"from-left"}
        =aws_img('photos/home-info-2.jpg')
      .right-col{"data-entrance"=>"from-right"}
        %h2.bot-marg.off-black
          %span.b
            Residential
          %span.l
            and
          %span.b
            Commercial
          %span.l
            Moving
        %p.off-black
          Moving your home or office shouldn’t be a pain. Let the experts at Dogwood Moving take care of the heavy lifting. 
          %br
          %br
          We’re equipped with the necessary tools and equipment to efficiently and safely transport
          your one-bedroom apartment or fully staffed, small business to its new location
        .cta-row.margin-bot
          =link_to 'Book Now', '/booking', class:'dogwood-btn-outline green left'
  .cta-block-wrap.packing-block
    .container.cta-block-container.flex-start.top-layer.hide-overflow
      .content-col{"data-entrance"=>"from-right"}
        %h2.bot-marg.off-black
          %span.b
            Expert
          Packing Available
        %p.off-black
          If you’ve ever moved before, you’ll know that half the battle of a move lies in the packing and labeling of your items. It is crucial that your items are packed appropriately and securely to ensure they are not damaged during transport and organized in a way that makes it easy to unpack. Take advantage of our packing services to help with high value and breakable items.
        .cta-row.margin-bot
          =link_to 'View Packing', '/packing', class:'dogwood-btn-outline green left'

%script{type:'application/ld+json'}
  {
  "@context": "http://schema.org/",
  "@type": "Service",
  "serviceType": "Moving Company",
  "provider": {
  "@type": "LocalBusiness",
  "name": "Dogwood Moving Company"
  },
  "areaServed": {
  "@type": "City",
  "name": "Raleigh, NC"
  },
  "telephone": "#{dogwood_phone}",
  "url": "https://www.dogwoodmoving.com",
  "logo": "https://dogwood-moving.s3.us-east-2.amazonaws.com/logos/DMC_SVG.svg",
  "hasOfferCatalog": {
  "@type": "OfferCatalog",
  "name": "Cleaning services",
  "itemListElement": [
  {
  "@type": "OfferCatalog",
  "name": "Apartment and Home Moving",
  "itemListElement": [
  {
  "@type": "Offer",
  "itemOffered": {
  "@type": "Service",
  "name": "2-Man Moving Team"
  }
  },
  {
  "@type": "Offer",
  "itemOffered": {
  "@type": "Service",
  "name": "3-Man Moving Team"
  }
  },
  {
  "@type": "Offer",
  "itemOffered": {
  "@type": "Service",
  "name": "4-Man Moving Team"
  }
  }
  ]
  }
  ]
  }
  }