.wrap
  .hero
    %h1.hero-text
      Dedicated
      %br
      %span
        to Quality
  .info-block.container
    .col-container
      .left-col
        =image_tag('https://dogwood-moving.s3.us-east-2.amazonaws.com/photos/home-info-1.png')
      .right-col
        %h2.bot-marg.off-black
          %span.l
            Your
          Full Service
          %br
          %span.b-i
            Moving Professionals
        %p.off-black
          Dogwood Moving is an experienced local and long-distance moving company that will handle your move with care. 
          All of our movers are clean-cut, athletic and well-trained movers who will work hard to make your move stress-free. 
          We are dedicated to quality, hard work, and excellent customer service. 
          These three pillars are the foundation of our company, and we prove that with each and every move we complete.
        %p.off-black
          Fully licensed and insured, our professionally trained team will treat your belongings like their own 
          – safely and efficiently packing and moving them to your new destination. Dogwood Moving is proudly servicing Raleigh, 
          NC and surrounding areas. Call us at today at 919-656-1426 to get your free estimate today!
    .cta-row
      =link_to 'Learn More', '/pricing', class:'dogwood-btn-outline green center'
