.dogwood-home-wrap
  %a.left-block.half-block{:href=>'/home'}
    .sun
    .dogwood-logo
    .dogwood-visit-message
      Continue to Site
    .dogwood-gradient
    .dogwood-content
  .right-block.half-block
    %a.dogwood-cta-block.cta-1{:href=>'/pricing-booking'}
      %h2
        Pricing + Booking
      %h3
        All the info you'll need to book your move today.
    %a.dogwood-cta-block.cta-2{:href=>'/packing-supplies'}
      %h2
        Packing + Supplies
      %h3
        We'll get you prepared for your move in no time.
    %a.dogwood-cta-block.cta-3{:href=>'/faq'}
      %h2
        Frequently Asked Questions
      %h3
        Our info library will answer anything you're unsure about.
    %a.dogwood-cta-block.cta-4{:href=>'https://poweredby.dogwoods-garage.com/contest'}
      %h2
        Join the Team
      %h3
        Apply for Driver or Mover positions at Dogwood today!
    .dogwood-cta-block.double
      %a.dogwood-cta-block.half-cta.cta-5{:href=>'https://poweredby.dogwoods-garage.com/contest'}
        %h2.half-h2
          About Us
      %a.dogwood-cta-block.half-cta.cta-6{:href=>'https://poweredby.dogwoods-garage.com/contest'}
        %h2.half-h2
          Contact