.wrap.nav-pad
  %h1.page-banner
    Packing
  .info-block.container
    .col-container
      .left-col
        =aws_img('photos/packing-info-1.jpg')
      .right-col
        %h2.bot-marg.off-black
          %span.b
            Overview
        %p.off-black
          Dogwood Moving offers packing supplies in easy to order kits. These kits are designed with industry standards in mind. If you are a collector compared to a minimalist our kits may require the addition or subtraction of certain materials. Additional materials can be purchased at a retail store should they be needed. In most cases our kits provide adequate space to safely and efficiently prepare your belongings for the move. We still offer the packing service if you choose to purchase your own packing materials
          instead of purchasing one of our packing supplies kits. The rate for our packing service is the same hourly rates as moving. Click here to view rates.
          %br
          %br
          We offer kits from 1 to 5 rooms. Rooms are defined as any room within your home that has items needing to be packed such as bedrooms, living rooms, kitchens and offices. Bathrooms usually have a small number of items and are not considered a room for these purposes. If you have more than 5 rooms multiple kits can be purchased to accommodate the size of your home. If you have further questions feel free to ask a member of management during your booking call.