- @description = "Here at Dogwood Moving, we’ll go the extra mile to help make your move as convenient and as stress-free as possible, which is why we offer additional packing services, such as providing all materials."
- @keywords = 'Pricing, Booking, Timed, Fair Moving Pricing, Cheap Moving, Quality Moving'
- @page_title = 'Packing | Boxes and Tape | Full or Partial Service | Dogwood Moving Co.'
- @canonical = 'https://www.dogwoodmoving.com/packing/'

.wrap.nav-pad
  %h1.page-banner
    Packing
  .info-block.container
    .col-container.img-left.hide-overflow
      .left-col{'data-entrance'=>'from-left'}
        =aws_img('photos/packing-info-1.jpg')
      .right-col{'data-entrance'=>'from-right'}
        %h2.bot-marg.off-black
          %span.b-i
            Experts
          in 
          %span.b
            Packing and Preparation
        %p.off-black
          Moving can be a very stressful experience. People often experience a time crunch trying to balance their
          work life with attempting to prepare for their upcoming move. This leads to many people attempting to
          pack everything the day before they’re supposed to move out—which is never a good idea. Here at
          Dogwood Moving, we’ll go the extra mile to help make your move as convenient and as stress-free as
          possible, which is why we offer additional packing services.
  .packing-wrap.cta-block-wrap
    .container.cta-block-container.flex-start.top-layer.hide-overflow
      .content-col{'data-entrance'=>'from-left'}
        %h2.bot-marg.off-black
          Need
          %span.b
            Boxes or Supplies
          For your Move?
        %p.off-black
          Having the right supplies makes a big difference when you’re preparing to move. If you would like us to
          supply packing materials for you then there will be a one time $50 service fee plus the cost for materials
          used.
          %br
          %br
          We still offer the packing service if you choose to purchase your own packing materials instead of having
          us supply the materials. The rate for our packing service is the same hourly rates as moving (For more
          details on our rates go to our pricing page).
          %br
          %br
          Call today and ask about our packing/moving rates and pricing for supplies!
          %br
          %a{href:dogwood_phone}
            =dogwood_phone
