- @description = "Helpful Tips and Advice to get you prepared for your upcoming move."
- @keywords = 'Moving Tips, Before the Move, Dogwood Moving Preparation, Preparation'
- @page_title = 'Preparation | Residential and Commercial Movers | Dogwood Moving Co.'
- @canonical = 'https://www.dogwoodmoving.com/preparation/'

.wrap.nav-pad
  %h1.page-banner
    Preparation
  .preparation-container
    =aws_img('photos/preparation-info.jpg')