- @description = 'Dogwood Moving’s fair by the minute charging keeps our customer’s mind at ease'
- @keywords = 'Pricing, Booking, Timed, Fair Moving Pricing, Cheap Moving, Quality Moving'
- @page_title = 'Pricing'

.wrap.nav-pad
  %h1.page-banner
    Pricing
  .rates-wrap
    %h2.off-white.center
      %span.l
        Our
      %span.b
        Rates
    .container.rates-container
      .rate-card
        .header
          $110/hr
        .card-content
          .top
            %p.off-black.bold='2-Man Team'
            %p.off-black.light='26ft Box Truck'
          .icon.two-man
          %p.info
            2 clean-cut movers hauling your goods to and from your home. Loading and unloading services available at the same low rate!
            %br
            %br
            This team size is optimal for smaller moves such as 1 or 2 bed apartments and partial house moves.
      .rate-card
        .header
          $145/hr
        .card-content
          .top
            %p.off-black.bold='3-Man Team'
            %p.off-black.light='26ft Box Truck'
          .icon.three-man
          %p.info
            Hire an additional clean-cut mover to make your move quicker and more efficient! Loading and unloading services available at the same low rate!
            %br
            %br
            A 3-man team is necessary for 3 bed apartments and homes that are 1300-1800sqft.
      .rate-card  
        .header
          $220/hr
        .card-content
          .top
            %p.off-black.bold='4-Man Team'
            %p.off-black.light='26ft Box Truck'
          .icon.four-man
          %p.info
            Have a large home that requires more than one truckload? No problem! A larger team will expedite the moving process and ensure everything will be moved in one trip.
            %br
            %br
            If your home is 2000sqft or more you will need 2 trucks and 4-man team.
  .additional-info-wrap
    .left-col
      %h2.off-black
        %span.b
          Additional Charges
      %p.list-item
        %span
          $100
        Piano & Gun Safe Moving
        %br
        (We only move upright and spinet pianos)
      %p.list-item
        %span
          $150
        Overnight fee (per truck)
      %p.list-item
        %span
          3% Processing Fee
        Applies to all credit/debit transactions
      %p.list-item
        %span
          $1 per mile
        round trip travel outside of Wake County
    .right-col
      %h2.off-black
        %span.b
          Guidelines
      %p.list-item
        Two-hour minimum
      %p.list-item
        Clock starts and stop at your home
        %br
        (we charge by the minute)
      %p.list-item
        Downtime Due to Customers: 1/2 of hourly rate
      %p.list-item
        There are no travel fees within Wake County
      %p.list-item
        No hidden fees
    .faq-block
      %h2
        Still unsure about something?
      %p
        View Frequently Asked Questions
      =link_to 'FAQ','/faq', class:'dogwood-btn-outline green center'
  .info-block.container
    .col-container.img-left
      .left-col
        =aws_img('photos/pricing-info-1.jpg')
      .right-col
        %h2.bot-marg.off-black
          %span.b
            Pricing Overview
        %p.off-black
          Dogwood Moving’s fair by the minute charging keeps our customer’s mind at ease during this stressful time. With our honest and upfront pricing, you don’t have to worry about any surprises or charges for lunch breaks and fuel stops. We provide furniture pads, dollies, moving straps, shrink wrap (shrink wrap needs to be requested), and the tools necessary to complete your move professionally. 
          %br
          %br
          We start the clock after we do a walkthrough of your home and we stop it when we are completely finished at the final location. We care about our reputation and strive to make sure every customer has a pleasant, stress-free moving experience! We guarantee that our movers will work hard to get your move done quickly, efficiently, and professionally.