- @description = "Dogwood Moving’s team is like a family, and it's time for you to join"
- @keywords = 'team, employment, moving jobs, good pay, moving companies for hire, join the team'
- @page_title = 'Team'

.wrap.nav-pad
  %h1.page-banner
    Join the Team
  .info-block.container
    .col-container.img-right
      .left-col
        %h2.bot-marg.off-black
          Do you have what it takes to join Raleigh's
          %span.b-i
            number one rated
          %span.b
            moving company?
        %p.off-black
          Dogwood moving is looking for Rider and Team Leader Positions. We pride ourselves in being the best in
          town and to achieve that, we hire only the best! All of our movers start at $15/hour plus tips with room
          for growth. We believe that having happy employees translates to happy customers and we do all we
          can to keep a great work atmosphere.
          %br
          %br
          Movers must have their own transportation, a valid driver’s license, and be able to pass a background
          check. If you would like to join the Dogwood Moving team, please fill out the proper information below and
          one of our trained professionals will reach out to you. If you have a resume, you can send it to
          Dogwoodmovingnc@gmail.com and skip the application. Thank you!
      .right-col
        =aws_img('photos/team-info-1.jpg')
        .button-row
          .dogwood-btn-outline.green.center{"data-target"=>"#apply-modal", "data-toggle"=>"modal"}
            Apply Now
